<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_stand">

    <link name="camera_stand_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robogpt_description/meshes/camera_stand/camera_stand/camera_stand.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robogpt_description/meshes/camera_stand/camera_stand/camera_stand.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="camera_stand_joint" type="fixed">
      <origin rpy="1.57 0.0 -0.78" xyz="0.0 -0.03759940821 0.0"/>
      <parent
        link="world" />
      <child
        link="camera_stand_link" />
      <axis xyz="0 0 0" />
    </joint>


    <joint name="camera_stand_attach_joint" type="fixed">
    
      <origin xyz="0.02 0.23 0.02" rpy="0 -3.98 0" />
      <parent link="world" />
      <child link="camera_stand_holder_link" />
      <axis xyz="0 0 0" />
    </joint>

    <link name="camera_stand_holder_link"/>

  </xacro:macro>
</robot>
